/* Design af navigationsbar */
.logo{
    width: 12%;
    margin-left: 30px;
    position: fixed;
 
}

.navbar {
    background: transparent;
    display: flex;

}



nav{
    height: 80px;
    width: 100%;
    position: fixed;
    border-radius: 50px;
    padding: 20px;
 

}

nav ul{
    float: right;
    margin-right: 40px;
   
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 40px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    color: #9eb88c;
    font-family: "civane-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
   
    
}

nav ul li:hover{
    color:#799068;
}

/* Design af dropdown menu */

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    font-family: "civane-normal", sans-serif;
    margin-top: 28px;
    margin-left: 90px;
    
    cursor: pointer;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #9eb88c;
    font-size: 18px;
    font-family: "civane-normal", sans-serif;
    padding: 10px -100px;
    margin-left: -20px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    cursor: pointer;
  }
  
  .dropdown .dropbtn:hover{
    color: #799068;
  }

  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    font-family: "civane-normal", sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #9eb88c;
    font-family: "civane-normal", sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #799068;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Design af burgermenu */
  
  .checkbtn{
    font-size: 30px;
    color: #799068;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
 }

 #check{
    display: none;
 }

 .checkbtn{
    font-size: 30px;
    color: #9eb88c;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }

 /* Responsivt design til en Ipad Pro */
 @media (max-width: 1024px) {
    nav ul li a{
        font-size: 16px;
        
    }

    .logo {
        /* font-size: 100px; */
        height: auto;
        width: 15%;
        
    }
    .checkbtn{
        display: block;
    }

    .overlay-text {
        display: none;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
       top: 80px;
       left: 0;
       text-align: center;
       background: white;
       
    }

    nav ul li {
        display: block;
    }

    ul{
        left: 100%;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
    }

    #check:checked ~ ul {
        left: 0;
        top: 100px;
    }

    nav ul li{
        margin: 50px 0;
        line-height: 5px;
        
    }

    nav ul a{
        text-decoration: none;
    }

 }


/* Design af kontekst */

  .hindbær{
    margin-left: 480px;
    margin-top: -1400px;
    position: absolute;
   }

   .hindbær:hover {
    transform: scale(1.1)
  }
 
   .arrow {
     border: solid white;
     border-width: 0 3px 3px 0;
     display: inline-block;
     padding: 20px;
     margin-left: 645px ;
     margin-top: -700px;
    position: absolute;
 }
 
  .down {
         transform: rotate(45deg);
         -webkit-transform: rotate(45deg);
       }
 
 
 .arrow:hover{
     color: #f69f06;
 }
 
 h1{
     color: white;
     font-family: "civane-normal", sans-serif;
     margin-top: -550px;
     text-align: center;
     margin-left: 120px;
     margin-right: 120px;
     font-size: 30px;
     position: absolute;
   }
 
  .pink3{
     margin-top: 200px;
     position: relative;
  }
 
  .smag{
     position: absolute;
     margin-top: -300px;
     width: 30%;
     margin-left: 50px;
  }
 
  .udseende{
     position: absolute;
     width: 32%;
     margin-left: 800px;
 margin-top: -315px;
  }
 


  /* Design af footer */

.footer{
  margin-top: -80px;
      width: 70%;
      padding: 100px 15%;
      background: white;
      color: #799068;
      display: flex;
      font-family: "civane-normal", sans-serif;
    
  }
  
  .footer div{
      text-align: center;
      font-family: "civane-normal", sans-serif;
  }
  
  .col-2{
      flex-grow: 2;
      font-family: "civane-normal", sans-serif;
  }
  
  .footer div h3{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  }
  
  .col-1 a{
      display: block;
      text-decoration: none;
      color: #799068;
      margin-bottom: 10px;
      font-family: "civane-normal", sans-serif;
  }
  
  form input{
      width: 400px;
      height: 45px;
      border-radius: 4px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
      outline: none;
      border: none;
      background-color: #9eb88c;
      font-family: "civane-normal", sans-serif;
  }
  
  form button{
      background: transparent;
      border: 2px solid #799068;
      color: #799068;
      border-radius: 30px;
      padding: 10px 30px;
      font-size: 15px;
      font-family: "civane-normal", sans-serif;
  }
  
  
  .social-icons{
      margin-top: 30px;
  }
  
  .social-icons i{
      font-size: 22px;
      margin: 10px;
      cursor: pointer;
  }


/* Responsiv footer */
@media screen and (max-width: 844px) {
  .footer {
      margin-top: -80px;
      width: 100%;
      padding: 50px 5%; /* Mindre padding for mindre skærmstørrelser */
      background: white;
      color: #799068;
      display: flex;
      flex-direction: column; /* Ændret retningen for mindre skærme */
      align-items: center; /* Centrer elementer på mindre skærme */
      font-family: "civane-normal", sans-serif;
  }
  
  .footer div {
      text-align: center;
      font-family: "civane-normal", sans-serif;
      margin-bottom: 20px; /* Juster efter behov */
  }
  
  .col-2 {
      flex-grow: 1; /* Ændret for at tage op mindre plads på mindre skærme */
      font-family: "civane-normal", sans-serif;
  }
  
  .footer div h3 {
      font-weight: 300;
      margin-bottom: 15px; /* Juster efter behov */
      letter-spacing: 1px;
  }
  
  .col-1 a {
      display: block;
      text-decoration: none;
      color: #799068;
      margin-bottom: 10px;
      font-family: "civane-normal", sans-serif;
  }
  
  form input {
      width: 100%; /* Fuldt bredde for mindre skærme */
      height: 45px;
      border-radius: 4px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; /* Mindre afstand for mindre skærme */
      outline: none;
      border: none;
      background-color: #9eb88c;
      font-family: "civane-normal", sans-serif;
  }
  
  form button {
      width: 100%; /* Fuldt bredde for mindre skærme */
      background: transparent;
      border: 2px solid #799068;
      color: #799068;
      border-radius: 30px;
      padding: 10px 0; /* Mindre padding for mindre skærme */
      font-size: 15px;
      font-family: "civane-normal", sans-serif;
  }
  
  .social-icons {
      margin-top: 30px;
      display: flex;
      justify-content: center; /* Centrer ikonerne på mindre skærme */
  }
  
  .social-icons i {
      font-size: 22px;
      margin: 10px;
      cursor: pointer;
  }
  }